* {
  font-family: "Montserrat", sans-serif;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px;
}

.welcomeQuote {
  height: 960px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border {
  border-bottom: 1px solid;
  width: 100%;
  margin-bottom: 10px;
}

.completedQuestions {
  height: 100px;
  /* display: none; */
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.goodLuckSection {
  height: 960px;
}

.correctAnswer {
  height: 960px;
}

.btn-outline-dark {
  padding: 1% !important;
}
